* {
  font-family: sans-serif;
}

.Home-heading {
  font-size: 400%;
  margin-bottom: 5%;
}

.home-container {
  margin-top: 20px;
  text-align: center;
}

.home-btn {
  padding: 15px;
  color: white;
  background-color: rgba(0, 0, 200, 1);
  font-size: 1.3rem;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 90px;
  cursor: pointer;
  border: none; }